*
{
padding:0;
margin:0;
}
.App
{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
}
#cMonth
{
  text-align: center;
}
.arrow:hover
{
  cursor: pointer;
  color: red;
}
#inner-grid
{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
#inner-grid h4
{
  text-align: center;
}
.false
{
  display: flex;
  align-items: center;
  justify-content: center;
}
#today
{
  background-color:coral;
}
/*Day.js*/
.d
{
  height:20vh;
  border: solid black .1px;

}
/*weekends*/
.d:nth-child(7n),.d:nth-child(7n+1)
{
  background-color: gainsboro;
}
/*
.d:hover
{
  cursor: pointer;
}
*/
/*Grid*/
#grid
{
  
  margin:10% 10%;
}
#content
{
  display: grid;
  grid-template-columns: 1fr 6fr;
  row-gap: .5em;
  column-gap: .5em;
  border: solid 2px black;
  border-radius: 15px;
  padding:0 0 0 2%;
}
#gTitle
{
  text-align: center;
}
.bLink
{
  text-decoration: none;
  color:black;
}
.block
{
  text-align: left;
  display: inline;
  margin:0 2%;
}
.block:hover
{
  background-color: chartreuse;
  border-radius: 9px;
}
/*Form*/
#form
{
  padding-top: 2em;
  margin: 15% 8%;
  padding: 2px 2px;
  border:black solid 2px;
  border-radius: 10px;
  text-align: center;
}
#form input,select,textarea
{
  margin:0 0 2em 2em;
}
textarea
{
  padding: .5em 1em;
  border: black solid 1px;
  border-radius: 10px;

  resize: none;
}
#blue
{
  background-color: rgb(96, 197, 255);
}
#green
{
  background-color:greenyellow;
}
#yellow
{
  background-color: yellow;
}
#orange
{
  background-color: orange;
}