*
{
padding:0;
margin:0;
}
.App
{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr;
}
#cMonth
{
  text-align: center;
}
.arrow:hover
{
  cursor: pointer;
  color: red;
}
#inner-grid
{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
#inner-grid h4
{
  text-align: center;
}
.false
{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Day.js*/
.d
{
  height:20vh;
  border: solid black .1px;

}
/*weekends*/
.d:nth-child(7n),.d:nth-child(7n+1)
{
  background-color: gainsboro;
}
.d:hover
{
  cursor: pointer;
}